<div>
    <div style="text-align:center; padding: 20px;" class="animated slideInDown">
        <h1>Please pick a candidate</h1>
    </div>
    <div id="vote-cards-wrapper">
        <div class="example-card mat-elevation-z4">
            <img mat-card-image src="../assets/jpg/c2.jpeg" alt="Photo of a Shiba Inu">
            <div class="overlay"></div>
            <div class="button"><a (click)="onClick()"> VOTE </a></div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="example-card mat-elevation-z4">
            <img mat-card-image src="../assets/jpg/c1.jpg" alt="Photo of a Shiba Inu">
            <div class="overlay"></div>
            <div class="button"><a> VOTE </a></div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="example-card mat-elevation-z4">
            <img mat-card-image src="../assets/jpg/c3.jpeg" alt="Photo of a Shiba Inu">
            <div class="overlay"></div>
            <div class="button"><a> VOTE </a></div>
        </div>
    </div>
</div>