<mat-toolbar style="height: 5vh;" color="primary" class="mat-elevation-z6">
    <a routerLink="" style="color: white; margin-top: 8px;"><i class="material-icons">
      home
      </i></a>
    <span class="example-fill-remaining-space"></span>
    <span>THAILAND ELECTION</span>
  </mat-toolbar>
<div>
    <div id="vote-cards-wrapper">
        <div *ngFor="let candidate of candidates$">
            <div class="example-card mat-elevation-z4" style="margin-bottom:20px;"> 
                <img mat-card-image src="{{candidate.url}}" alt="">
                <div class="overlay"></div>
                <div class="name">
                    <p style="color: white; font-size: auto">
                        {{candidate.fname}} {{candidate.lname}}
                    </p>
                </div>
                <div class="button">
                    <a (click)="onVote(candidate._id)">โหวต</a>
                </div>
                <div class="party">
                    <p style="color: white; font-size: auto">
                        {{candidate.party}}
                    </p>
                </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <app-loader *ngIf="showSpinner"></app-loader>
    </div>
</div>