<div id="vote-cards-wrapper">
  <ul>
    <li class="card">
      <div class="card__flipper">
        <div class="card__front mat-elevation-z10">
          <p class="card__name"><span>Tony</span><br>Romo</p>
          <p class="card__num">9</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
              <animate 
              xlink:href="#back"
              attributeName="r"
              from="55"
              to="70"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <animate 
              xlink:href="#back"
              attributeType="CSS" attributeName="opacity"
              from="1"
              to="0"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <circle id="back" cx="90" cy="90" r="55" stroke="#5271C2" stroke-width="5"/>
            <circle class="front" cx="90" cy="90" r="54" fill="#5271C2"/>
          </svg>
          <span>VOTE</span>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__flipper">
         <div class="card__front mat-elevation-z10">
           <p class="card__name"><span>Aaron</span><br>Rodgers</p>
          <p class="card__num">12</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
              <animate 
              xlink:href="#back2"
              attributeName="r"
              from="55"
              to="70"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <animate 
              xlink:href="#back2"
              attributeType="CSS" attributeName="opacity"
              from="1"
              to="0"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <circle id="back2" cx="90" cy="90" r="55" stroke="#35a541" stroke-width="5"/>
            <circle class="front" cx="90" cy="90" r="54" fill="#35a541"/>
          </svg>
          <span>VOTE</span>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__flipper">
         <div class="card__front mat-elevation-z10">
          <p class="card__name"><span>Ben</span><br>Roethlisberger</p>
          <p class="card__num">7</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
              <animate 
              xlink:href="#back3"
              attributeName="r"
              from="55"
              to="70"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <animate 
              xlink:href="#back3"
              attributeType="CSS" attributeName="opacity"
              from="1"
              to="0"
              dur="1s"
              begin="0s"
              repeatCount="indefinite"
              fill="freeze" 
              id="circ-anim"
             />
            <circle id="back3" cx="90" cy="90" r="55" stroke="#bdb235" stroke-width="5"/>
            <circle class="front" cx="90" cy="90" r="54" fill="#bdb235"/>
          </svg>
          <span>VOTE</span>
        </div>
      </div>
    </li>
    <!--
    <li class="card">
      <div class="card__flipper">
         <div class="card__front">
          <p class="card__name"><span>Peyton</span><br>Manning</p>
          <p class="card__num">18</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
            <circle cx="90" cy="90" r="55" stroke="#db6623" stroke-width="35"  />
          </svg>
          <span>101.5</span>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__flipper">
         <div class="card__front">
          <p class="card__name"><span>Tom</span><br>Brady</p>
          <p class="card__num">12</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
            <circle cx="90" cy="90" r="55" stroke="#3e5eb3" stroke-width="35"  />
          </svg>
          <span>97.4</span>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__flipper">
         <div class="card__front">
          <p class="card__name"><span>Drew</span><br>Brees</p>
          <p class="card__num">9</p>
        </div>
        <div class="card__back">
          <svg height="180" width="180">
            <circle cx="90" cy="90" r="55" stroke="#aa9e5c" stroke-width="35"  />
          </svg>
          <span>97.0</span>
        </div>
      </div>
    </li> -->
  </ul>
</div>