<div>
<div id="login-form-wrapper">
  <div id="form-container" [class.full-width-height]="(isHandset$ | async)!" class="w4-h5">
    <form [formGroup]="login" #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="animated slideInDown">
        <h1 style="color: #3F51B5;">Electioner</h1>
      </div>
      <mat-form-field class="full-width" color="primary">
        <input matInput placeholder="USERNAME" formControlName="username" required>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
</div>
