<div id="login-form-wrapper">
  <div id="form-container" [class.full-width-height]="(isHandset$ | async)!" class="w4-h5">
    <form [formGroup]="login" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div>
        <img src="../assets/icons/logo.svg" alt="">
      </div>
      <mat-form-field class="full-width" color="priamry">
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
