#login-form-wrapper{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-image: url(https://ssl.gstatic.com/support/content/images/static/homepage_header_background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    #form-container{
        padding:50px;
        border-radius: 8px;
    }

    form{
        box-sizing: border-box;
        div{
            text-align: center;
            img{
                height:100px;
                width:280px;
                margin:0;
                padding-left:40px;
                padding-bottom: 20px;
            }
            
        }
        input{
            color: teal;
        }
        .mat-form-field-infix {
            color: #f44336;
        }
        button{
            margin-top: 1.5rem;
        }
    }
}

.w4-h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:500px;
    background: transparent;
    //margin-top: 2rem;
}

.full-width-height{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    box-shadow: none;
}

.full-width{
    width:100%;
}

.mat-raised-button{
    border-radius: 250px;
    background-color: #21aba5;
    color: azure;
}
