<div id="login-form-wrapper">
  <div id="form-container" [class.full-width-height]="(isHandset$ | async)!" class="w4-h5 mat-elevation-z6">
    <form>
      <div>
        <img src="../assets/icons/logo.png" alt="">
      </div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </div>
</div>
