agm-map {
    height: 94vh;
    width: calc(100%-3px);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.agm-info-window-content{
    width:100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    width: 100vw;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
}

.select-field {
    width: 50%;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.map-container {
    
}
/* width */
::-webkit-scrollbar {
    width: 3px;
	background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}

.chart {
    width: 50%;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.chart-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}