<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <h4>{{location}}</h4>
        <app-horizontal></app-horizontal>
    </mat-drawer>
    <div *ngIf="lat && lng" style="padding: 0px; overflow-y: hidden;">
        <agm-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        [styles]="styles"
        (mapClick)="mapClicked($event)"
        (click)="drawer.opened ? drawer.open():drawer.toggle()">
            <agm-marker 
                *ngFor="let m of markers; let i = index"
                (markerClick)="drawer.toggle()"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
            </agm-marker>
        </agm-map>
    </div>
</mat-drawer-container>
