<div class="select-container">
  <mat-form-field>
    <mat-label>Select an election</mat-label>
    <mat-select
      [(value)]="selectedElection"
      (selectionChange)="selectionChange($event.value)"
    >
      <mat-option *ngFor="let election of data" [value]="election.name">{{
        election.name
      }}</mat-option>
    </mat-select>
  </mat-form-field> <br>
  <mat-form-field style="width: 98%; margin-bottom: 0px;">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
</div>
<div class="tb-ctn" *ngIf="result">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <!-- Position Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.url }}" alt="photo" class="avatar" />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="party">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
      <td mat-cell *matCellDef="let element">{{ element.party }}</td>
    </ng-container>

    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
      <td mat-cell *matCellDef="let element">{{ element.district }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="votes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Votes</th>
      <td mat-cell *matCellDef="let element">{{ element.votes }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
