<!--<section id="party-can" *ngIf="candidates$">
      <div id="party">
        <img src="../assets/svg/th-democrat.svg" alt="" width="200px">
      </div>
      <mat-divider></mat-divider>
      <div id="candidates" *ngFor="let candidate of candidates$">
          <mat-card class="card">
            <img mat-card-image src="{{candidate.url}}" alt="Photo of a Shiba Inu">
          </mat-card>
      </div>
</section>-->
<div>


  <!-- <div class="party-selector">
      <mat-form-field class="select-field">
        <mat-select placeholder="Parties" [(value)]="selected">
          <mat-option *ngFor="let party of party$" [value]="party" (click)="onSelect()">
            {{party.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div> -->
  <div *ngIf="parties$ && candidates$">
    <div *ngFor="let party of parties$">
      <div style="text-align:center;">
        <img src="{{party.url}}" alt="" style="max-width: 400px;" class="party-logo">
      </div>
      <div id="vote-cards-wrapper" *ngIf="candidates$">
        <div *ngFor="let candidate of candidates$">
          <div *ngIf="candidate.party === party.name">
            <div class="example-card" style="margin-bottom:20px;">
              <img src="{{candidate.url}}" alt="">
            </div>
            <div style="text-align: center;">
              <p>
                {{candidate.fname}} {{candidate.lname}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>