#search-box{
    height: 6vh;
    #container{
        .search{
            float: right;
            padding-right: 5%;
            @media screen and (max-width: 700px) {
                padding-right: 22%;
            }
        }
    }
}
#party-can{
    height: 70vh;
    #party{
        padding-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        @media screen and (max-width: 700px) {
            padding-left: 12%;
        }
    }
    mat-divider{
        margin-left: 10%;
        margin-right: 10%; 
    }
    #candidates{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 2%;
        @media screen and (max-width: 700px) {
            padding-top: 5%;
        }
        .card{
            width: 392px;
            height: 538px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
            @media screen and (max-width: 700px) {
                padding-top: 2%;
                margin-bottom: 25px;
                box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
                height: 402px;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}