/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=KoHo|Niramit|Kanit|Roboto');
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Kanit', sans-serif;
    background-color: white;
}

* {
    letter-spacing: 1px;
}

