#result-wrapper {
    display: block;
  }
  * {
      stroke-width: 1px;
      stroke: black;
  }
  #result-wrapper #map {
    transform: scale(0.6);
    text-align: center;
  }
  #result-wrapper #map svg {
    float: left;
  }
  #result-wrapper #map #TH-10
  {
    fill: #f28500;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-11
  {
    fill: #dd91b3;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-12
  {
    fill: #144182;
    transition: transform 0.2s;
  } 
  #result-wrapper #map #TH-13
  {
    fill: #fd7012;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-14
  {
    fill: #87A96B;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-15
  {
    fill: #fc0e1d;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-16
  {
    fill: #436d74;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-17
  {
    fill: #037d44;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-18
  {
    fill: #8b1738;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-19
  {
    fill: #77e7ef;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-72
  {
    fill: #fed672;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-73
  {
    fill: #de00c7;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-74
  {
    fill: #9d5c11;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-75
  {
    fill: #a7f8ef;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-70{
    fill: #9ad914;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-71
  {
    fill: #1d3fd2;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-76
  {
    fill: #34cd91;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-77
  {
    fill: #f3f103;
    transition: transform 0.2s;
  }#result-wrapper #map #TH-20
  {
    fill: #62e33b;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-21
  {
    fill: #5b96d7;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-22
  {
    fill: #bb48a7;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-23{
    fill: #efe969;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-24
  {
    fill: #87e0b5;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-25
  {
    fill: #e6392f;
    transition: transform 0.2s;
  } #result-wrapper #map #TH-26
  {
    fill:#b77303;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-27 {
    fill:#b4b1d0;
    transition: transform 0.2s;
  }
  
  #result-wrapper #map #TH-10:hover, #result-wrapper #map #TH-11:hover, #result-wrapper #map #TH-12:hover, #result-wrapper #map #TH-13:hover, #result-wrapper #map #TH-14:hover, #result-wrapper #map #TH-15:hover, #result-wrapper #map #TH-16:hover, #result-wrapper #map #TH-17:hover, #result-wrapper #map #TH-18:hover, #result-wrapper #map #TH-19:hover, #result-wrapper #map #TH-72:hover, #result-wrapper #map #TH-73:hover, #result-wrapper #map #TH-74:hover, #result-wrapper #map #TH-75:hover, #result-wrapper #map #TH-70:hover, #result-wrapper #map #TH-71:hover, #result-wrapper #map #TH-76:hover, #result-wrapper #map #TH-77:hover, #result-wrapper #map #TH-20:hover, #result-wrapper #map #TH-21:hover, #result-wrapper #map #TH-22:hover, #result-wrapper #map #TH-23:hover, #result-wrapper #map #TH-24:hover, #result-wrapper #map #TH-25:hover, #result-wrapper #map #TH-26:hover, #result-wrapper #map #TH-27:hover {
    transform: scale(1.01);
    fill: #e91e63;
  }
  
  #result-wrapper #map #TH-50
  {
    fill: #feb0c0;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-51
  {
    fill: #24afc0;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-52
  {
    fill: #e6bd77;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-53
  {
    fill: #d25226;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-54
  {
    fill: #8648f1;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-55
  {
    fill: #3e9758;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-56
  {
    fill: #f77611;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-57
  {
    fill: #0b0783;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-58
  {
    fill: #cbba3e;
    transition: transform 0.2s;
  }#result-wrapper #map #TH-60
  {
    fill: #a3065b;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-61
  {
    fill: #6fe3de;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-62
  {
    fill: #f48448;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-63
  {
    fill: #9cf112;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-64
  {
    fill: #eeeeb7;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-65
  {
    fill: #a43bbc;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-66
  {
    fill: #017705;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-67 {
    fill: #38f314;
    transition: transform 0.2s;
  }
  
  
  #result-wrapper #map #TH-50:hover, #result-wrapper #map #TH-51:hover, #result-wrapper #map #TH-52:hover, #result-wrapper #map #TH-53:hover, #result-wrapper #map #TH-54:hover, #result-wrapper #map #TH-55:hover, #result-wrapper #map #TH-56:hover, #result-wrapper #map #TH-57:hover, #result-wrapper #map #TH-58:hover, #result-wrapper #map #TH-60:hover, #result-wrapper #map #TH-61:hover, #result-wrapper #map #TH-62:hover, #result-wrapper #map #TH-63:hover, #result-wrapper #map #TH-64:hover, #result-wrapper #map #TH-65:hover, #result-wrapper #map #TH-66:hover, #result-wrapper #map #TH-67:hover {
    transform: scale(1.01);
    fill: #e91e63;
  }
  
  #result-wrapper #map #TH-30
  {
    fill: #37f2aa;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-31
  {
    fill: #f5261d;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-32
  {
    fill: #6045f8;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-33
  {
    fill: #622331;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-34
  {
    fill: #d2f210;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-35
  {
    fill: #f760ff;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-36
  {
    fill: #da9304;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-37
  {
    fill: #afa1c9;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-38
  {
    fill: #3d3eab;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-39{
    fill: #c80c23;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-40
  {
    fill: #9f51fb;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-41
  {
    fill: #5cae43;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-42{
    fill: #fd74ab;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-43{
    fill: #ffbe0a;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-44{
    fill: #10f38c;
    transition: transform 0.2s;
  }#result-wrapper #map #TH-45{
    fill: #33c2d1;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-46{
    fill: #c80181;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-47{
    fill: #dd8551;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-48{
    fill: #c6ff6f;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-49 {
    fill: #d33010;
    transition: transform 0.2s;
  }
  
  #result-wrapper #map #TH-30:hover, #result-wrapper #map #TH-31:hover, #result-wrapper #map #TH-32:hover, #result-wrapper #map #TH-33:hover, #result-wrapper #map #TH-34:hover, #result-wrapper #map #TH-35:hover, #result-wrapper #map #TH-36:hover, #result-wrapper #map #TH-37:hover, #result-wrapper #map #TH-38:hover, #result-wrapper #map #TH-39:hover, #result-wrapper #map #TH-40:hover, #result-wrapper #map #TH-41:hover, #result-wrapper #map #TH-42:hover, #result-wrapper #map #TH-43:hover, #result-wrapper #map #TH-44:hover, #result-wrapper #map #TH-45:hover, #result-wrapper #map #TH-46:hover, #result-wrapper #map #TH-47:hover, #result-wrapper #map #TH-48:hover, #result-wrapper #map #TH-49:hover {
    transform: scale(1.01);
    fill: #e91e63;
  }
  
  #result-wrapper #map #TH-80
  {
    fill: #f6c25b;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-81
  {
    fill: #c2f845;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-82
  {
    fill: #cd3d44;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-83
  {
    fill: #590df8;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-84
  {
    fill: #e8ff20;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-85
  {
    fill: #c2cbf3;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-86
  {
    fill: #fe21b2;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-90
  {
    fill: #393df0;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-91
  {
    fill: #60ecd5;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-92
  {
    fill: #d62825;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-93
  {
    fill: #71fd30;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-94
  {
    fill: #dfce0e;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-95
  {
    fill: #f0150f;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-96
  {
    fill: #142af4;
    transition: transform 0.2s;
  }
  #result-wrapper #map #TH-LKSG {
    fill: #f92e06;
    transition: transform 0.2s;
  }
  
  #result-wrapper #map #TH-80:hover, #result-wrapper #map #TH-81:hover, #result-wrapper #map #TH-82:hover, #result-wrapper #map #TH-83:hover, #result-wrapper #map #TH-84:hover, #result-wrapper #map #TH-85:hover, #result-wrapper #map #TH-86:hover, #result-wrapper #map #TH-90:hover, #result-wrapper #map #TH-91:hover, #result-wrapper #map #TH-92:hover, #result-wrapper #map #TH-93:hover, #result-wrapper #map #TH-94:hover, #result-wrapper #map #TH-95:hover, #result-wrapper #map #TH-96:hover, #result-wrapper #map #TH-LKSG:hover {
    transform: scale(1.01);
    fill: #e91e63;
  }
  .c2 {
    grid-template-columns: 50% auto;
  }
  .c1 {
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
  }
  .svg-default {
    padding-left: 100px;
    padding-top: 50px;
  }
  .svg-mobile {
    padding: 25px;
  }
  