.white-gradient-bot {
  display: inline-block;
  background: linear-gradient(to bottom, transparent, rgb(250, 250, 250) 90%);
  z-index: 10000;
  width: 100%;
  text-align: center;
}

.text-content {
  z-index: 3;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 14%;
}

.technology {
  margin-top: 20px;
}
.icon {
  height: 30px;
  margin-right: 10px;
}

