#home-wrapper{
    #background{
        width: 100%;
        height: 100vh;
        z-index: -1;
        position: absolute;
    }
    #foreground{
        z-index: 1;
        display: grid;
        grid-template-columns: 50% auto;
        #left{

        }
        #right{

        }
    }
}