<div id="home-wrapper" color="primary">
    <div id="background"></div>
    <div id="midground">
        <div id="left">
            <img src="../assets/icons/lalala.svg" alt="">
        </div>
        <div id="right" class="animated slideInUp">
            <div id="intro-text">
                <h1>Welcome to electioner</h1>
            </div>
            <div id="semi-intro-text">
                Probably the best senior project ever. What? You don't believe me? Well wait and see! XD
            </div>
            <div id="Vote-now">
                <a routerLink="login">
                    <button mat-stroked-button color="primary" type="submit">Vote now</button>
                </a>
            </div>
        </div>
    </div>
</div>


