<section id="home-wrapper">
    <div id="background">
        <div id="left">
        </div>
        <div id="right">
        </div>
    </div>
    <div id="midground">
        <div id="left">
            <img class="img" src="../assets/svg/Man.png" alt="" height="900px">
        </div>
        <div id="right" class="animated slideInRight">
            <div id="intro-text">
                Welcome to electioner
            </div>
            <div id="semi-intro-text">
                A voting system that makes your election day less of a hassle.
            </div>
            <div id="Vote-now">
                <a href="https://electioner.tk/static/electioner.apk">
                    <button mat-stroked-button color="primary" type="submit">DOWNLOAD NOW!</button>
                </a>
            </div>
            <div id="playstore">
                <img src="../assets/svg/playstore.svg" alt="" width="80px">
            </div>
        </div>
    </div>
</section>

<section class="tech-detail">
        <div class="tech-container">
            <div class="techbox">
                <ul>
                    <li>
                        <img src="../assets/svg/mul.svg" alt="" height="100px" width="100px">
                    </li>
                    <li>
                        <img src="../assets/svg/angular.svg" alt="" height="100px" width="100px">
                    </li>
                    <li>
                        <img src="../assets/svg/mongo.svg" alt="" height="100px" width="300px">
                    </li>
                    <li>
                        <img src="../assets/svg/native.svg" alt="" height="100px" width="100px">
                    </li>
                </ul>
            </div>
        </div>
</section>

<section id="howto-home-wrapper">
        <div id="howto-container">
            <div id="intro-text">
                    How to vote?
            </div>
        </div>
    </section>

<section id="second-home-wrapper">
    <div id="howto-container">
        <ul>
            <li>
                <img src="../assets/svg/download.svg" alt="" height="200px" width="200px">
            </li>
            <li>
                <img src="../assets/svg/qr-code.svg" alt="" height="200px" width="200px">
            </li>
            <li>
                <img src="../assets/svg/voting.svg" alt="" height="200px" width="200px">
            </li>
        </ul>
    </div>
    <div id="howto-container-text">
        <ul>
            <li>
                1. Download
            </li>
            <li>
                2. Generate/Scan QR code
            </li>
            <li>
                3. Start Voting
            </li>
        </ul>
    </div>
</section>
