<div id="home-wrapper">
    <div id="background"></div>
    <div id="midground">
        <div id="left">
            <img src="../assets/icons/lalala.svg" alt="">
        </div>
        <div id="right">
            <div id="intro-text">
                <h1>Welcome to electioner</h1>
            </div>
            <div id="semi-intro-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ab, autem error dolores ex repellat reiciendis qui suscipit alias pariatur quaerat necessitatibus explicabo ratione dolor, nostrum, sapiente amet ipsum sit?
            </div>
            <div id="Vote-now">
                <a routerLink="Vote">
                    <button mat-stroked-button color="primary" type="submit">Vote now</button>
                </a>
            </div>
        </div>
    </div>
</div>

